@model MvcKutuphane.Models.EntityFramework.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <h2>Kategori Güncelleme</h2>
    <br />
    @Html.HiddenFor(x => x.ID)
    <br />
    @Html.TextBoxFor(x => x.AD, new { @class = "form-control", required = "" })
    <br />
    <br />
    <button class="btn btn-info">Güncelle</button>

}
