@model MvcKutuphane.Models.EntityFramework.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent mb-4">
    <h1 class="sketchy text-center">Yazar Ekle</h1>
</div>

<div class="flex_container" style="max-width:1300px">
    <div class="flex_col_0">
        <a href="/Yazar/Index" class="btn btn-primary mt-2 ml-2 mr-2 pl-4 pr-4 float-lg-right">Yazar Listesi</a>
    </div>
</div>

<form method="post">
    <div class="flex_container" style="width:1300px;">
        <div class="flex_col_1">
            <label style="margin-bottom:10px;">Yazar Adı</label>
            <input type="text" name="AD" class="form-control form-control" placeholder="yazar adını giriniz.." required /><br />
            <br />
        </div>
        <div class="flex_col_1">
            <label style="margin-bottom:10px;">Yazar Soyadı</label>
            <input type="text" name="SOYAD" class="form-control form-control" placeholder="yazar soyadını giriniz.." required /><br />
            <br />
        </div>
        <div class="flex_col_0">
            <label style="margin-bottom:10px;">Detay</label>
            <input type="text" name="DETAY" class="form-control form-control" placeholder="detay giriniz.." /><br />
            <br />
        </div>
        <div class="flex_col_0">
            <button class="btn btn-success mt-2 pl-4 pr-4 float-lg-right" style="margin:10px 0">Ekle</button>
        </div>
    </div>
</form>
