@model MvcKutuphane.Models.EntityFramework.TBLPERSONEL
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="mw-500 text-center bg-transparent mb-4">
    <h1 class="sketchy text-center">Personel Ekleme Sayfası</h1>
</div>
<form method="post">
    <label style="margin-bottom:10px;">Personel</label>
    <input type="text" name="PERSONEL" class="form-control form-control" placeholder="personeli giriniz.." required="required" /><br />
    @*@Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:black;opacity:.7" })*@
    <br />
    <button class="btn btn-success" style="margin:10px 0"> Ekle</button>
</form>
