
@{
    ViewBag.Title = "LinqKartlar";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="~/web3/css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/web3/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/web3/css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">

<!-- banner -->
<div class="clearfix"></div>

<ul class="ca-menu">
    <li>
        <a href="#">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main">16,808</h4>
                <h3 class="ca-sub">New Companies</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main one">26,808</h4>
                <h3 class="ca-sub one">New Clients</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-database" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main two">29,008</h4>
                <h3 class="ca-sub two">New Projects</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main three">49,436</h4>
                <h3 class="ca-sub three">Old Projects</h3>
            </div>
        </a>
    </li>

</ul>

<ul class="ca-menu">
    <li>
        <a href="#">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main">765</h4>
                <h3 class="ca-sub">Yeni Üyemiz</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main one">26,808</h4>
                <h3 class="ca-sub one">New Clients</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-database" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main two">29,008</h4>
                <h3 class="ca-sub two">New Projects</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main three">49,436</h4>
                <h3 class="ca-sub three">Old Projects</h3>
            </div>
        </a>
    </li>

</ul>
<ul class="ca-menu">
    <li>
        <a href="#">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main">16,808</h4>
                <h3 class="ca-sub">New Companies</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main one">26,808</h4>
                <h3 class="ca-sub one">New Clients</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-database" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main two">29,008</h4>
                <h3 class="ca-sub two">New Projects</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <div class="ca-content">
                <h4 class="ca-main three">49,436</h4>
                <h3 class="ca-sub three">Old Projects</h3>
            </div>
        </a>
    </li>

</ul>



